<div class="home">
	<h1>FAQs</h1>
  <p>Never one to leave an audience waiting in suspense, see below to find out what all the fuss is about:</p>
  <ol>
    <ul>
      <p><b>What is your name?</b></p>
      <p><%= @name %></p>
      <p><b>What is your email address?</b></p>
      <p>My email address is: <%= @email%>. </p>
      <p><b>What is my Github url?</b></p>
      <p>Here is the link to <a href="<%= @github %>">my repository on Github</a>.</p>
      <p><b>What is your Linkedin url?</b></p>
      <p>Here is <a href="<%= @linkedin %>">where I live on Linkedin</a>.</p>
      <p><b>Can you tell us why we asked you to fork this repo instead of clone it?</b></p>
      <p><%= @fork %></p>
      <p><b>Tell us about your favorite coding project of all time? What was great about it?</b></p>
      <p>My favorite coding project of all time is my Blogger app. Back in June, I began doing some video tutorials for Ruby on Rails. I was on a mission to really solidify some fundamentals for myself. I felt as if I was doing some things purely by rote, and I wanted a way to really put things together for me. Writing things down helps me retain concepts. I decided that I was going to watch a tutorial, and as I made my way through I would pause and write down everything. I made sure that I wrote down the code before I entered it in the editor. I found some instructional videos by a blogger named Mackenzie Childs, and the first project that I chose to do was Blogger. Even though I had done this same project during my boot camp days, I was not confident that I really understood it well enough to replicate it on my own. So, I went through the tutorial writing down each step and carefully following in the editor. By the end of the exercise, I felt so much more confident in my understanding. I then replicated the entire project myself without the video. That was a turning point for me and helped me feel so much more confident in myself. Although Blogger is a staple for beginners that is not fancy or sparkly, it really is a great project for learning fundamentals of rails.</p>
      <p><b>One More Thing</b></p>
      <p><%= @oneMorething %></p>
    </ul>
  </ol>
</div>
